{{!< layout}}

<h1>Custom Reporter</h1>
<br />
<div class="row">
	<div class="col-md-10">
		<div id="tbJql"></div>
	</div>
	<div class="col-md-2">
		<div id="btnGetData"></div>
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-12">
		<div id="dgData"></div>
	</div>
</div>

<div id="puSummary"></div>
<div id="loadPanel"></div>